---
services:
  unifi-voucher-manager:
    image: "docker.io/etiennecollin/unifi-voucher-manager:latest"
    # Or use the github registry
    # image: "ghcr.io/etiennecollin/unifi-voucher-manager:latest"

    # To build the image yourself
    build:
      context: "./"
      target: "runtime"
      dockerfile: "./Dockerfile"

    container_name: "unifi-voucher-manager"
    restart: "unless-stopped"
    ports:
      - "3012:3000"
    
    volumes:
      - ./config/voucher-tiers.json:/app/frontend/public/voucher-tiers.json:ro
      - ./config/print-config.json:/app/frontend/public/print-config.json:ro
      - ./logs:/app/logs

    # SEE README FOR ENVIRONMENT VARIABLES DOCUMENTATION
    env_file:
      - .env
    environment:
      UNIFI_CONTROLLER_URL: ${UNIFI_CONTROLLER_URL}
      UNIFI_USERNAME: ${UNIFI_USERNAME}
      UNIFI_PASSWORD: ${UNIFI_PASSWORD}
      UNIFI_HAS_VALID_CERT: ${UNIFI_HAS_VALID_CERT:-false}
      UNIFI_SITE_ID: ${UNIFI_SITE_ID:-default}
      WIFI_SSID: ${WIFI_SSID:-}
      WIFI_PASSWORD: ${WIFI_PASSWORD:-}
      GUEST_SUBNETWORK: ${GUEST_SUBNETWORK:-Y}
      TIMEZONE: ${TIMEZONE:-UTC}
      ROLLING_VOUCHER_ENABLED: ${ROLLING_VOUCHER_ENABLED:-false}
      # ROLLING_VOUCHER_DURATION_MINUTES: ${ROLLING_VOUCHER_DURATION_MINUTES:-1440}
